.carta {
    /* background-color: red; */
    height: 120px;
    width: 500px;
  }

  .txtChoose {
    background-color: #F2f2F2;
    width: 380px;
    border-radius: 200px;
    text-align: left;
    margin-left: 0px;
  }

  .encabezado {
    background-color: #e0dcf4;
  }

  body{

    background-color:#fff ;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto ;
  }
  
  #nav{
    width: 100%;
    height: 100px; 
    background-color: #0e0c35;  
  }
  
  .menu {
    background-color: #0e0c35; 
  }
  
  .cerrarSesion {
    float: right;
    text-align: center;
    font-size: 18px;
    width: 120px;
    color: #fff;
    margin-top: 20px;
    margin-right: 50px;
  }
  
  .nombreUsuario {
    float: right;
    text-align: center;
    font-size: 18px;
    width: 130px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .opcion {
    color: black;
    font-size: 18px;
  }
  
  .menuVertical {
    background-color:#F2f2F2
  }
  
  #nav img {
    color: #fff;
    margin-left: 5%;
    float: left;
    width:140px;
    margin-top:1%;
  }
  .sidebar {
  
    left: -250px;
    width: 250px;
    height:auto;
    background: #F2f2F2;
    
  }
  
  .sidebar header img {
    margin-top: 13%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .sidebar header {
    font-size: 22px;
    color: #0e0c35;
    text-align: center;
    line-height: 30px;
     background: #F2f2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100px;
    font-size: 18px;
    color: #0e0c35;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.4s;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  
  .cuerpo {
    margin-left: 250px;
  }
  
  .cuerpo2 {
    /* margin-left: 250px; */
    /* background-color: red; */
    height: 200px;
  }