.carta {
    /* background-color: red; */
    height: 120px;
    width: 500px;
  }

  .carta2 {
    /* background-color: red; */
    height: 90px;
    width: 350px;
  }


  .txtChoose {
    background-color: #F2f2F2;
    width: 380px;
    border-radius: 200px;
    text-align: left;
    margin-left: 0px;
  }

  .encabezado {
    background-color: #e0dcf4;
  }

  body{

    background-color:#fff ;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto ;
  }
  
  #nav{
    width: 100%;
    height: 100px; 
    background-color: #0e0c35;  
  }
  
  .menu {
    background-color: #0e0c35; 
  }
  
  .cerrarSesion {
    float: right;
    text-align: center;
    font-size: 18px;
    width: 120px;
    color: #fff;
    margin-top: 20px;
    margin-right: 50px;
  }
  
  .nombreUsuario {
    float: right;
    text-align: center;
    font-size: 18px;
    width: 130px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .opcion {
    color: black;
    font-size: 18px;
  }
  
  .menuVertical {
    background-color:#F2f2F2
  }
  
  #nav img {
    color: #fff;
    margin-left: 5%;
    float: left;
    width:140px;
    margin-top:1%;
  }
  .sidebar {
  
    left: -250px;
    width: 250px;
    height:auto;
    background: #F2f2F2;
    
  }
  
  .sidebar header img {
    margin-top: 13%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .sidebar header {
    font-size: 22px;
    color: #0e0c35;
    text-align: center;
    line-height: 30px;
     background: #F2f2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100px;
    font-size: 18px;
    color: #0e0c35;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.4s;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  
  .cuerpo {
    margin-left: 250px;
  }
  
  .cuerpo2 {
    /* margin-left: 250px; */
    /* background-color: red; */
    height: 200px;
  }

  .btnEstablecer {
    background-color: #F24B59;
    border-radius: 15px;
    /* margin-left: 10px; */
    margin-bottom: 25px;
    float: left;
  }

  .btnEstablecer2 {
    background-color: #F24B59;
    border-radius: 15px;
    margin-left: 35px;
    margin-bottom: 25px;
    float: left;
  }

  .btnEstablecer3 {
    background-color: #F24B59;
    border-radius: 15px;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 40px;
    float: left;
  }

  a.btnEstablecer:hover {
    background-color: #0e0c35;
  }

  a.btnEstablecer2:hover {
    background-color: #0e0c35;
  }

  a.btnEstablecer3:hover {
    background-color: #0e0c35;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 250;
    margin-left: 550px;
    top: 0;
    width: 500px; /* Full width */
    height: 600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    /* background-color: green; */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 400px;
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    margin-left: 350px;
    font-size: 28px;
    font-weight: bold;
  }

  .closeN {
    color: red;
    float: right;
    margin-left: 350px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .txtMotivo2 {
    background-color: #F2f2F2;
    width: 250px;
    border-radius: 200px;
    text-align: left;
    height: 35px;
    margin-left: 25px;
  }

  .txtArea {
    background-color: #F2f2F2;
    width: 800px;
    /* height: 250px; */
    border-radius: 10px;
    text-align: left;
    margin-left: 25px;
  }

  .pointer {
    cursor: pointer;
  }

  .titulo2 {
    /* background-color: red; */
    width: 140px;
    margin-left: 10px;
  }

  .carta3 {
    margin-left: 15px;
  }